@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");




.App {
  align-items: center;
  justify-content: center;
}
body {
  background-color: rgb(12, 12, 12);
}




.title  {
  
  margin: 30px 0;
 
}

.hd{
  border-radius: 10px;
    color: orange;
    background-color: rgb(255, 255, 255);
    max-width: 735px;
    font-size: 29px;
    text-align: center;
    margin-left: 390px;
    padding: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }

form {
  max-width: 721px;
  margin: 0 auto;
  background: rgb(0, 0, 0);
  padding: 10px 20px;
  margin-top: 50px;
 
 
  border-radius: 20px;
}
form h3 {
  text-align: center;
  
}
form input {
  width: 100%;
  padding: 10px 5px;
  outline: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background: transparent;
  border-bottom: 1px solid orange;
  border-top: none;
  border-right: none;
  border-left: none;
  color: white;
  
}

form input :focus{
  outline: none;

}




.input_container {
  margin-bottom: 20px;
}
.btn_container {
  text-align: center;
  margin-bottom: 10px;
}
.btn_container button {
  background: orange;
  color: white;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  
}

.btn_container button:hover{
  background: white;
  color: orange;
}

.todo_container {
  width: 50%;
  margin: 0 auto;
  
}
.todo {
  margin-top: 20px;
  background: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
 
  
}
.todo input {
  cursor: pointer;
  width: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.button-complete,
.button-delete,
.button-edit {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
}
#i {
  font-size: 35px;
}
.button-complete {
  color: rgb(234, 203, 145);
  margin-right: 10px;
}

.button-complete:hover{
  color: rgb(96, 232, 96);
}


.button-edit {
  color: rgb(234, 203, 145);
  margin-right: 10px;
}

.button-edit:hover{
  color: rgb(142, 214, 228);
}


.button-delete {
  color: rgb(234, 203, 145);
}

.button-delete:hover{
  color: rgb(235, 77, 77);
}


@media screen and (max-width: 667px) {
  .task_container {
    width: 90%;
  }
  .task {
    margin-right: 0px;
  }
}
input:focus,
button:focus {
  outline: none;
}